*{
	box-sizing:border-box;
}
body{
	background-color:teal;
}
.board-container{
	width:70%;
	height:450px;
	margin:0 auto;
	background-color:teal;
	padding-top:30px;

}
.instruction{
	width:200px;
	height:50px;
	margin:0 auto;
	text-align:center;
	font-size:15px;
}
.smallrow{
	height:100px;
	width:98%;
	display:flex;
	justify-content:center;
	margin:0 auto;
}
.largerow{
	height:100px;
	width:98%;
	display:flex;
	justify-content:center;
	margin:0 auto;
}
.tile{
	width:7.1%;
	
	font-size:36px;
	text-align:center;
	height:100%;
	background-color:green;
	border:5px solid black;
}
.correct-letter{
	animation:rotate 1s linear;
	background-color:lightblue;
	display:block;
		width:100%;
	height:100%;
	padding-top:25px;
	
}
.clue{
	margin:0 auto;
	width:20%;
	text-align:center;
	height:30px;
	background-color:white;
}
.hiddentile{

	display:none;
}
.emptytile{
	background-color:white;
	width:7.1%;
	
	font-size:36px;
	text-align:center;
	height:100%;
	
	border:5px solid black;
}
.players{
	display:flex;
	justify-content:space-around;
}
.players1, .players2, .players3{
	height:100px;
	width:25%;
	background-color:white;
	border:2px solid black;
}

.playerheader1{
	background-color:lightblue;
	height:40px;
	text-align:center;
	font-size:26px;
}
.playerheader2{
	background-color:yellow;
	height:40px;
	text-align:center;
	font-size:26px;
}	
.playerheader3{
	background-color:lightgreen;
	height:40px;
	text-align:center;
	font-size:26px;
}
.mypoints{
	padding-top:10px;
	height:60px;
	text-align:center;
	font-size:26px;
}
@keyframes rotate{
	0%{
		transform: rotateY(180deg);
		color:white;
		background-color:white;
	}
	50%{
		color:white;
		background-color:white;
	}
	51%{
		color:black;
		background-color:lightblue;
	}
	100%{
		transform:rotateY(0deg);

	}
}